.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.camView{
  align-self: center;
  width: 0vmin;
}

.webcam {
  position: absolute;
  width: 100%;
  z-index: 8;  
}

.webcamButton{
  margin-top: 10px;
  color: "#464866";
  size: "3x";
}

.detectButton {
  margin-top: 10px;
  color: "#2E9CCA";
  size: "3x";
}

.canvas {
    position: absolute;
    width: 100%;
    z-index: 9;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
